@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Light.woff);
  font-weight: 200;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Regular.woff);
  font-weight: 300;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Bold.woff);
  font-weight: 600;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-ExtraBold.woff2);
  font-weight: 700;
}

// main color codes
$bg: rgb(255, 255, 255);
$bg-light: rgb(236, 238, 239);
$bg-dark: rgb(25, 25, 25);
$bg-dark-light: rgb(201, 201, 201);
$primary: rgb(0, 7, 52);
$accent: rgb(69, 72, 255);


$bg-light-primary: rgb(255, 255, 255);
$bg-light-secondary:rgb(249, 246, 255);
@mixin hoverAnimation {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  &:hover {
    -webkit-transform: scale(1.14);
    transform: scale(1.14);
  }
}

@mixin card1 {
  background: rgb(255, 255, 255); 
  border-radius: 34px;
  color: #0A0535;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}

hr {
  background-color: rgb(173, 173, 173);
  padding: 0;
  margin: 0;
}
.lift-hover {
  transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}
.lift-hover:hover { 
  -webkit-transform: translate(0,-4px);
    -ms-transform: translate(0,-4px);
    transform: translate(0,-4px);
}

body {
  background-color: $bg;
  color: $primary;
}
.bg-light-primary {
  background-color:$bg-light-primary; 
}
.bg-light-secondary {
  background-color: $bg-light-secondary;
}
.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}
.nav-link {
  transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}
.nav-link:hover {
  color: $accent !important; 
  -webkit-transform: translate(0,-4px);
    -ms-transform: translate(0,-4px);
    transform: translate(0,-4px);
}
.header {
  margin-top: 4em;
}
.header__image {
  border-radius: 40px;
  width: 150px;
  @include hoverAnimation;
}

.header__masthead {
  font-size: 3.5em;
  line-height: 125%;
  font-weight: 200; 
  max-width: 75%;
}
.header__masthead span { 
  font-weight: 500;
  color: $primary;
}

.header__subheader {
  font-weight: 400;
}

.header__subheader span {
  font-weight: 600;
}

.header__button a {
  border-radius: 40px;
  padding: 0.6em 1.6em;
  background-color: $bg;
  color: $primary;
  font-weight: 400;
  border: 3px solid $primary;
  text-decoration: none;  
  @include hoverAnimation;
}

.header__button a:hover {
  background-color: $bg-dark;
  color: $bg;
  // box-shadow: 0px 4px 6px rgba(108, 108, 108, 0.29);
}

.section__title {
  text-align: center;
  font-weight: 600;
}

.section__card {
  @include card1;
  padding: 2em; 
  max-width: max-content;
}
.section__card p {
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
}

.section__card .section__button a {
  border-radius: 40px;
  padding: 0.7em 3em;
  background-color: $accent;
  color: $bg;
  text-decoration: none;
}

.section__card .section__button a:hover {
  background-color: $primary;
  @include hoverAnimation;
}

.about__body {
  display: flex; 
  flex-direction: column; 
  font-size: 1.2em; 
  line-height: 2em;
}

.about__link__link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
  
}

.link-flash {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block; 
  /*  Set same font-size and line height  */
  font-size: 20px;
  line-height: 20px;
  color: $primary;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #f8f8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
 
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}
 
.about__link__link:hover .link-container {
  transform: translateY(-20px);
}
 
.about__link__link:hover .link-title1 {
  transform: rotate(20deg);
}

.about__link__link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.about__link__link:hover .icon:first-child {
  transform: translate(40px);
}

.about__link__link:hover .icon:nth-child(2) {
  transform: translate(0px);
}


.contact__card {
  background-color: $primary;
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12),
    0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  border-radius: 44px;
  margin-bottom: 5em;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 2em;
  color: $bg;
}

.contact__image {
  position: relative;
  top: 1em;
}

.contact__button__wrap {
  padding: 1em 4em;
}
.contact__button {
  background-color: $accent;
  color: $bg;
  text-decoration: none;
  border-radius: 10px;
  padding: 1em 2em;
  border: none;
}
.contact__button:hover {
  background-color: $bg;
  color: $primary;
}

// media queries for responsiveness 
#work {
  background-color: $bg-dark; 
  color: #f8f8ff !important;
}


@media all and (min-width: 1025px) and (max-width: 1200px) {
  .header__masthead {
    font-size: 3em;
    max-width: 60%;
  }
  .contact__button__wrap {
    padding: 1em;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .header__masthead {
    font-size: 3em;
    max-width: 70%;
  }
  .contact__button__wrap {
    padding: 1em;
  }
  .contact__card {
    padding: 1em;
    text-align: center;
  }

  .contact__image img {
    display: none;
  }

}

@media all and (min-width: 481px) and (max-width: 768px) {
  .header__masthead {
    font-size: 2.5em;
    max-width: 80%;
  }
  .contact__card {
    padding: 1em;
    margin: 1em;
    text-align: center;
  }
  .contact__body__wrap {
    padding: 1em 4em;
    text-align: center;
  }

  .contact__image img {
    display: none;
  }
  .about__section {
    padding: 1em;
  }
  .about__body {
    margin-top: 2em;
  } 
  .section__title{
    display: block !important;
    text-align: center;
    font-weight: 800;
    font-size: 2.3em; 
  }
  
  .link-flash {
    margin-bottom: 4em; 
  }
}

@media all and (max-width: 480px) {
  .header__masthead {
    font-size: 2em;
    max-width: 90%;
  }

  .contact__card {
    padding: 1em;
    margin: 1em;
    text-align: center;
  }

  .contact__body__wrap {
    padding: 1em 4em;
  }
  .contact__image img {
    display: none;
  }
  .about__section {
    padding: 1.5em;
  }
 .section__title{
   display: block !important;
   text-align: center;
   font-weight: 800;
   font-size: 2.3em;
 }
  .about__body {
    margin-top: 1em;
  } 
  .link-flash {
    margin-bottom: 4em; 
  }
}
