/* colors
#ebecf1
#206a5d
#1f4068
#1b1c25
#F45866 Fiery Rose
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Light.woff);
  font-weight: 200;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Regular.woff);
  font-weight: 300;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Bold.woff);
  font-weight: 600;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-ExtraBold.woff2);
  font-weight: 700;
}



* {
  margin: 0;
}

.bg {
  background: url("https://images.unsplash.com/photo-1533134957610-83185986f38b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80")
     fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3rem);
  width: 100vw;
  opacity: 0.1;
  position: absolute;
  height: 100vh;
}

.navbar-brand span {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  padding-left: 0.4rem;
}

.navbar-nav a span {
  font-weight: 700;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
}

.nav-link {
  color: #7e7e7e !important;
}
.nav-link:hover {
  color: #181818 !important;
}

.navbar-toggler {
  border-color: #181818;
  
}

.hero_section {
  margin-top: 50px;
  
}
.hero_section img {
  border-radius: 50%;
}

.hero_text span {
  font-size: 2rem;
  margin: auto;
  font-weight: 600;
  color: #252525;
}

.hero_text span::after {
  content: " ";
  background-image: url(/assets/images/hero_emoji.png);
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.hero_text {
  margin-bottom: 1em;
  font-weight: 700;
  margin-top: 2em;
  font-family: custFont1;
  font-size: 4em;
  color: rgb(0, 0, 0);
  width: 60%;
  margin: auto;
  line-height: 1.2em;
}


@media only screen and (max-width: 600px) {

  .hero_section {
    font-size: 60%;
  }
  .hero_text span {
    font-size: 70%;
  }
  .hero_text {
    width: 100%;
  }
}