/* colors
#ebecf1
#206a5d
#1f4068
#1b1c25
#F45866 Fiery Rose
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Light.woff);
  font-weight: 200;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Regular.woff);
  font-weight: 300;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Bold.woff);
  font-weight: 600;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: custFont1;
  src: url(/assets/webfonts/PlusJakartaSans-ExtraBold.woff2);
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  
}

.bg {
  background: url("https://images.unsplash.com/photo-1533134957610-83185986f38b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80")
    fixed;
  background-attachment: fixed;
  
  background-size: cover;
  filter: blur(2.5rem);
  width: 100%;
  opacity: 0.1;
  z-index: -1;
  position: fixed;
  height: 100%;
}
.bg_vid {
  position: fixed;
  z-index: -1;
  filter: blur(1rem);
  width: 100%;
  opacity: 0.5;
}
.navbar-brand span {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  padding-left: 0.4rem;
}

.navbar-nav a span {
  font-weight: 700;
  padding: 2px 6px 4px 5px;

  margin-right: 1rem;
  border: 2px dotted rgb(145, 145, 145);
  border-radius: 50%;
}

.nav-link {
  color: #000000;
}
.nav-link:hover {
  color: #181818;
}
.nav-link i {
  font-size: 2rem;
  padding:2px 7px;
  transition: all 0.2s;
  border-radius: 50px;
}
.nav-link i:hover {
  background-color: #000;
  color: white;
}
.navbar-toggler {
  border-color: #181818;
}

.hero_section {
  margin-top: 50px;
}
.hero_section img {
  border-radius: 100px;
}

.hero_text span {
  font-size: 1.8rem;
  margin: auto;
  font-family: Montserrat;
  font-weight: 700;
  color: #252525;
}

.hero_text span::after {
  content: " ";
  background-image: url(/assets/images/hero_emoji.png);
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.hero_text {
  margin-bottom: 1em;
  font-weight: 700;
  margin-top: 3em;
  font-family: custFont1;
  font-size: 4em;
  color: rgb(0, 0, 0);
  width: 60%;
  margin: auto;
  line-height: 1.2em;
}

.hero_info {
  font-weight: 300;
  font-size: 0.4em;
  font-family: custFont1;
  line-height: normal;
  margin-top: 1.2em;
}

.hero_info b {
  font-weight: 800;
}
.hero_button {
  margin-top: 2em;
  margin-bottom: 2em;
}
.hero_button a {
  text-decoration: none;
  font-size: 1.3em;
  background-color: #000;
  padding: 0.5em;
  border-radius: 100px;
  padding-left: 2em;
  padding-right: 2em;

  border: 2px dotted #000;
  color: rgb(235, 235, 235);
}
.hero_button a:hover {
  background-color: rgb(255, 255, 255);
  border: 2px dotted #000;
  color: rgb(48, 48, 48);
}

.hero_scroll {
  margin-bottom: 30px;
}
.scroll {
  width: 35px;
  height: 35px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  width: 11px;
  height: 11px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}

.hero_scroll a {
  padding: 4px 18px 10px 0px;
  border-radius: 40px;
  vertical-align: middle;
  z-index: 4;
  color: transparent;
}

#section2 {
  width: 100%;
  background-color: transparent;
  padding-top: 2rem;
}

.sub_section2 {
  background-color: transparent;
  padding: 1rem;
  border: 0px;
  font-weight: 100;
  border-radius: 30px;
  transition: all 0.25s;
  font-size: 1rem;
  line-height: 1.7rem;
  height: fit-content;
  font-family: custFont1;
  width: 90%;
}
.sub_section2:hover {
  cursor: crosshair;
}
.sub_section2 span {
  color: rgb(29, 63, 255);
  font-weight: 800;
}
.sub_section2 h3 {
  color: rgb(24, 24, 24);
  font-weight: 700;
  font-size: 2.2rem;
}
.sub_section2 h5 {
  font-size: 1.1rem;
}

.education_sec {
  position: relative;
}

.skill_sec {
  padding-bottom: 10px;
}
.major_skills {
  padding: 5px;
}
.major_skills_sec {
  display: flex;
  justify-content: center;
}
.major_skills img {
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .hero_section {
    width: 100%;
    margin-top: 20px;
    font-size: 50%;
  }
  .hero_text span {
    font-size: 60%;
  }
  .hero_button {
    font-size: 0.8rem;
  }
  .hero_text div {
    margin-top: 1rem;
  }
  .hero_text {
    width: 100%;
  }
  .hero_section img {
    width: 100px;
  }
  .hero_info {
    font-size: 50%;
  }
  .bg_vid {
    transform: scale(2.5);
  }
  .hero_scroll {
    margin-bottom: 40px;
  }
  #section2 {
    padding-top: 0.1rem;
  }
  .sub_section2 {
    justify-content: center;
    font-size: 90%;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
  }
  .sub_section2 h3 {
    font-size: 1.6rem;
  }
  .sub_section2:hover {
    transform: none;
    cursor: crosshair;
  }
}
