/* body {
  background-color: #ffffff;
  color: #131313;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* colors
#ebecf1
#206a5d
#1f4068
#1b1c25
#F45866 Fiery Rose
*/
* {
  margin: 0;
  /* padding: 0;
  background-color: #f6f5f0;
  background-color: #ebecf1; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #0c1821;
}
